@model List<Department>
@{
    ViewData["Title"] = "Departments";
}
<h2>Departments List</h2>
<div class="mb-3">
    <a href="/Department/Add" class="btn btn-success">Add New Department</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Manager Name</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.ManagerName</td>
                <td><a href="/Department/ShowDetails/@item.Id">Details</a></td>
            </tr>
        }
    </tbody>
</table>
